# <%= form_for @coupon do |f| %>
#     <h1>Coupon Form:</h1>
#     <p>Coupon Code: <%= f.text_field :coupon_code %></p>
#     <p>Store: <%= f.text_field :store %></p>
#     <%= f.submit 'Submit Coupon' %>
# <% end %>